@value colors: "./colors.css";
@value color-oceania from colors;

.appContainer {
    margin-top: 48px;
    position: relative;
}

.appHeader {
    padding: 15px 1rem;
    background: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;

    a {
        color: color-oceania;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}

.pageTitle {
    text-align: center;
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    font-size: 20px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

.actionButton {
    display: inline-block;
    background: color-oceania;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 50px;
    cursor: pointer;
}

.loaderContainer {
    text-align: center;
    padding-top: 60px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid color-oceania;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@media (max-width: 1200px) {
    .pageTitle {
        margin-bottom: 0;
    }

    .actionButton {
        width: 90%;
    }
}