.pdfContainer {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

.pdfDescription {
    background: white;
    margin: 15px auto;
    padding: 1.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0,0,0,0);
}

.loadingPdf {
    background: white;
    text-align: center;
    padding: 30px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .pdfContainer {
        justify-content: flex-start;
    }

    .loadingPdf {
        width: 100vw;
    }
}